@model List<ProductViewModel>

@section Styles{
  <link rel="stylesheet" href="/css/product.css">
}
<div class="container">
  <div class="row">
      @foreach (var product in Model)
      {
          if(product.IsVisible==true){
            <div class="col-lg-4 col-md-12 d-flex align-items-stretch pt-2">
                <div class="card card-cascade card-ecommerce narrower">
                <div class="view view-cascade overlay">
                <getproductimage id="@product.Id"></getproductimage>
            </div>

          <div class="card-body card-body-cascade text-center">
            <h4 class="card-title"><strong><a asp-action="ProductDetail" asp-route-id="@product.Id">@product.Name</a></strong></h4>

            <p class="card-text">
              @if (product.Description.Length>50)
              {
                  @product.Description.Substring(0,30);
                  <a asp-action="ProductDetail" asp-route-id="@product.Id">...</a>
              }
              else{
                @product.Description
              }
            </p>
            <div class="pt-2">
               <a class="btn btn-sm btn-outline-danger" asp-route-productId="@product.Id" asp-controller="Order" asp-action="Buy">Satın al</a>
            </div>
          </div>
        </div>
      </div>
          }
      }
  </div>
</div>
