@model List<ProductViewModel>

@section Styles{
    <link rel="stylesheet" href="/css/product.css">
}
<div class="container">
    <div class="row">
        @foreach (var product in Model)
        {
            if (product.IsVisible == true)
            {
                <div class="col-lg-4 col-md-12 d-flex align-items-stretch pt-2">
                    <div class="card card-cascade card-ecommerce narrower">
                        <div class="view view-cascade overlay">
                            <getproductimage id="@product.Id"></getproductimage>
                        </div>

                        <div class="card-body card-body-cascade text-center">
                            <h4 class="card-title"><strong><a asp-action="ProductDetail" asp-route-id="@product.Id">@product.Name</a></strong></h4>

                            <p class="card-text">
                                @if (product.Description.Length > 50)
                                {
                                    @product.Description.Substring(0, 30);
                                    <a asp-action="ProductDetail" asp-route-id="@product.Id">...</a>
                                }
                                else
                                {
                                    @product.Description
                                }
                            </p>

                            <div class="pt-2">
                                <a class="btn btn-sm btn-outline-danger" asp-route-productId="@product.Id" asp-controller="Order" asp-action="Buy">Satın al</a>
                            </div>

                            <div class="card-footer">
                                <a asp-action="UpdateProduct" asp-route-id="@product.Id" data-toggle="tooltip" title="Seçili üründe düzenleme yap" class="mx-2"><i class="fas fa-pen"></i></a>
                                <a data-id="@product.Id" data-toggle="modal" data-target="#exampleModal" title="Seçili üründe silme işlemi yapılır" class="silmeclassi"><i class="fas fa-trash" style="color:red"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ürün Silme</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Ürün silinecektir. Emin misiniz ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Vazgeç</button>
                <a type="button" id='btnDelete' class="btn btn-warning">Sil</a>
            </div>
        </div>
    </div>
</div>

@section JavaScript{
    <script>
        $(".silmeclassi").on('click', function () {
            var id = $(this).data("id");
            $('#btnDelete').attr('href', '/Admin/Product/DeleteProduct/' + id.toString());
        });
    </script>
}