@model ProductUpdateModel

<div class="container">
    <div class="row h-100">
        <div class="col-sm-12 my-auto">
            <form method="post" asp-action="UpdateProduct" class="w-75 p-3 mx-auto" enctype="multipart/form-data">
                <input class="form-control" type="hidden" asp-for="@Model.Id" >
                <div class="form-group">
                    <span class="text-danger" asp-for="@Model.Name"></span>
                    <input class="form-control" placeholder="Ürün adı" type="text" asp-for="@Model.Name">
                </div>
                <div class="form-group">
                    <span class="text-danger" asp-validation-for="@Model.Description"></span>
                    <textarea class="form-control" placeholder="Ürün Açıklaması" asp-for="Description" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <label>Resim</label>
                    <input class="form-control-file" type="file" asp-for="@Model.Image">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-sm btn-info">Kaydet</button>
                </div>
            </form>
        </div>
    </div>    
</div>
